div {
  height: 50px;/*  Linea invisible que divide del nombre a las fotos*/
  position: relative;
}

img {
  display: block;
  margin: 0 auto;
  overflow-y: auto;/*  Se ajusta la imagen*/

}

p{
  display:inline-block;/* contiene cada nombre */
}

section {
  display: inline-block;/*Contiene cada imagen y bloque*/
  width: 28%;
}

.black-line { /*Línea que esta bajo el nombre principal*/
  background-color: black;
  display: inline-block;
  height: 5px;
  position: relative;
  width: 4.5%;
}

.center { /* Elementos 2 y 5 */
  left: 8%;
  position: relative;
}

.left { /*Elementos 1 y 4*/
  left: 4%;
  position: relative;
}

.name-botom {/*Contiene los nombres 4,5 y 6*/
  color: white;
  left: 31%;
  position: absolute;/*Para que queden encima de las imagenes y no guarde el lugar*/
  top:80%;
}

.name-top {/* Contiene los nombres 1,2 y 3 */
  color: white;
  left: 31%;
  position: absolute;/*Para que queden encima de las imagenes y no guarde el lugar*/
  top:80%;

}

.rigth {/*Elementos 3 y 6*/
  position: relative;
  left: 12%;
}

.white-line {
  display: inline-block;
  position: relative;
  width: 5%;
}
